server:
  port: 8090

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: blog_server
          uri: lb://blog-server
          predicates:
            - Path=/blog/**
        - id: admin_server
          uri: lb://admin-server
          predicates:
            - Path=/admin/**
  redis:
    database: 0
    host: localhost
    port: 6379
    timeout: 3000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        min-idle: 0
        max-idle: 8

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

bmjline:
  jwt:
    skip-auth-urls:
      - /admin/user/login
      - /admin/user/logout
      - /blog/query/published/**
      - /blog/detail/**
