server:
  port: 8093

spring:
  application:
    name: admin-server
  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5432/bmjline_cloud
    username: bmj
    password: bmj.123456
    driver-class-name: org.postgresql.Driver
  redis:
    database: 0
    host: localhost
    port: 6379
    timeout: 3000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1ms
        min-idle: 0
        max-idle: 8

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/

token:
  expire: 6